typings/
node_modules/
bower_components/
.settings/
utils/*.js
routes/**/*.js
config/*.js
bin/*.js
public/app/app.js
public/app/services/*.js
public/app/vo/*.js
public/app/components/*.js
public/app//utils/*.js
app.js
*.log
